.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
}

img.rounded-circle {
  border: 3px solid #dee2e6;
}
.ceo-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: left;
}
.hero-about{
   background-image: url('../../../assets/images/inner-bg.png'); 
   height: 220px;
    background-size: cover;
    background-position: center;
    align-items: center !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-overlay{
    background: #191919a8;
}
.wrapper{
    border-radius: 10px;
}