.proj-img {
    height: 225px;
    object-fit: cover;
}
.hero-about{
   background-image: url('../../../assets/images/inner-bg.png'); 
   height: 220px;
    background-size: cover;
    background-position: center;
    align-items: center !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}